priority -40

snippet class "Class" b
<?php

namespace `!v ultisnips_php#resolve_namespace()`;

class `!p snip.rv = snip.basename or "ClassName"` ${1}
{
	${0}
}
endsnippet

snippet interface "Interface" b
<?php

namespace `!v ultisnips_php#resolve_namespace()`;

interface `!p snip.rv = snip.basename or "InterfaceName"` ${1}
{
	${0}
}
endsnippet
